@import '../../styles.css';

.content {
    display: flex;
    flex-direction: column;
}

.navbar-wrapper {
    top: 0;
    right: 0;
    left: 0;
    max-width: 100%;
    position: fixed;
    height: 100%;
    z-index: 20;
}

.navbar {
    border-bottom: 3px solid black;
    background-color: var(--pink);
    width: 100vw;
}

.navbar-wrapper .navbar .container-fluid {
    display: inline-flex;
}

.nav-link li {
    display: inline-block;
    padding: 0px 30px;
}

.nav-link li .nav-link {
    color: black;
    font-size: calc(0.75vw + 0.75vh);
    font-family: 'Poppins', sans-serif;
    letter-spacing: 1px;
    text-decoration: none;
}

.nav-link li .nav-link:hover {
    color: #fe69b5;
}

.nav-link li .nav-link:focus {
    color: #fe69b5;
}

ul li {
    padding: 0 5px;
}
/*
.navbar-wrapper .navbar .navbar-brand .container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-left: 0;
}
.navbar-wrapper .navbar .navbar-brand .container .brand_text {
    display: flex;
    position: relative;
    align-items: center;
    margin-left: 0;
}

.navbar-wrapper .navbar .navbar-brand .container .brand_text .brand1 {
    font-family: glitter;
    font-size: calc(1vw + 3vh);
    color: black;
    position: fixed;
    top: 25px; 
    bottom: auto;
}

.navbar-wrapper .navbar .navbar-brand .container .brand_text .brand2 {
    font-size: calc(3vw + 3vh);
    font-family: klender;
    position: fixed;
    top: auto; 
    bottom: auto;
    margin-top: 1.7em;
    color: azure;
}
*/